h2 Found #{data.length} items on #{url}
- if (data.length)
  table
    tr
      th Property
      th Content

    - each datum in data
      tr
        td #{datum[0]}
        td #{datum[1]}

h3 Again?
!= partial('form.jade')
